<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="fragments/header :: main-header('Create Post')"/>

<body>
<th:block th:replace="fragments/navbar :: top-nav" />

<h1>Create A Post</h1>

<hr/>

<div class="container">
    <form th:action="@{/posts/create}"  th:method="POST" enctype="multipart/form-data" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" name="title"  th:field="*{title}"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" name="description" th:field="*{description}"/>
        </div>

        <label for="file">Upload a file!</label>
        <input id="file" name="file" type="file" />
        <br />
        <input type="submit" value="upload" />

    </form>
</div>
</body>
</html>

<!--//@ are for urls-->
<!--//$ for objects-->
<!--//* for parameters-->