<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace ="fragments/header :: main-header('Post')"/>

<body>
<th:block th:replace="fragments/navbar :: top-nav" />
<h1 th:text="${post.title}"></h1>

<hr/>

<div class="container">
<div class="card mb-3">
    <img id="img" th:each="image : ${post.images}" th:src="${image.path}"/>
    <div class="card-body">
        <h5 class="card-title" th:text="${post.title}">Card title</h5>
        <p class="card-text" th:text="${post.description}"></p>
        <p class="card-text"><small class="text-muted" th:text="${post.owner.email}"></small></p>
    </div>
</div>
</div>

<th:block th:replace="fragments/footer :: my-footer"/>
</body>
</html>