<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<th:block th:replace="fragments/navbar :: top-nav" />

<h1 th:text="${post.title}"></h1>
<p th:text="${post.description}"></p>
<h1>Created by:</h1><p th:text="${post.owner.email}"></p>
<form th:action="@{/posts/delete/__${post.id}__}" th:method="get" th:object="${post}">
    <button class="btn btn-danger">Delete</button>
</form>
<form th:action="@{/posts/edit/__${post.id}__}" th:method="get" th:object="${post}">
    <button class="btn btn-danger">Edit</button>
</form>


<div th:replace="fragments/footer :: my-footer"></div>

</body>
</html>