<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<nav class="main-nav" th:fragment="top-nav">
    <ul>
        <li><a href="/posts">Home</a></li>
        <li><a href="/posts/create">Create</a></li>

    <li>
        <form  sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
        </form>
    </li>
    </ul>

</nav>


</body>
</html>