<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace ="fragments/header :: main-header('home')"/>

<body>
<th:block th:replace="fragments/navbar :: top-nav" />

<h1>Login</h1>
<div th:if="param.error">
    Invalid Username and Password.
</div>
<div th:if="param.logout">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text"/>
    <label for="email">E-Mail</label>
    <input id="email" name="email" type="text"/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>
    <input value="Enter" type="submit"/>

</form>

</body>
</html>