<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <h1>Create An Account</h1>
    <form th:action="@{/sign-up}" method="post" th:object="${user}">


        <label for="username">Username</label>
        <input id="username" th:field="*{username}"/>

        <label for="email">E-Mail</label>
        <input id="email" th:field="*{email}"/>

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}"/>

        <input value="Sign me up!" type="submit"/>
    </form>

</body>
</html>